:root {
  --header-navigation: #4a5b51;
  --header-navigation-phone: #222222;
  --header-title: #3f4255;
  --bcg-accent-color: #eaffe2;
  --main-bcg: #e5e5e5;
  --main-text-color: #222222;
  --section-title-color: #4c4c4c;
  --price-color: #4a5b51;
  --light-text: #ffffff;
  --button-color: #bbcfa3;
  --reviews-names-color: #18191f;
  --reviews-under-name-text: #969bab;
  --reviews--active-dot-color: #e0b6a8;
  --placeholders: #999999;
  --form-button-text: #e0b6a8;
  --footer-titles: #4a5b51;
  --footer-text: #22356f80;
  --footer-contacts: #4a5b51;
  --second-text-color: #737373;
  --copyright: #bacea3;
  --text-metodo: #5E645C;
  
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: var(--section-title-color);
}
