<section class="section-faqs">
  <div class="buttons__container">
    <ul class="Button__list-faqs">
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-1">
          <span class="Button--text">Стейкінг монети</span>
        </button>
      </li>
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-2">
          <span class="Button--text">Свапалка</span>
        </button>
      </li>
      <li class="Button__item-faqs">
        <button class="Button-faqs" type="button" id="button-3">
          <span class="Button--text">Благодійний фонд</span>
        </button>
      </li>
    </ul>
  </div>
</section>
