<footer class="footer">
  <div class="footer__container">
    <h2 class="footer-title">Contact</h2>
    <address>
      <a class="" href="tel:123-456-7890">Tel: 123-456-7890</a> <br />
      <a class="" href="mailto:info@mysite.com">info@mysite.com</a>
      <p class="">Address: 500 Terry Francois St. SF, CA 94158Contact</p>
    </address>
    <div class="social-links">
      <ul class="footer-social-list">
        <li class="social-links-items-footer">
          <a class="social-link-footer" href="">
            <svg class="link-icon-footer">
              <use href="./images/symbol-defs.svg#icon-instagram "></use>
            </svg>
          </a>
        </li>
        <li class="social-links-items-footer">
          <a class="social-link-footer" href=" ">
            <svg class="link-icon-footer">
              <use href="./images/symbol-defs.svg#icon-twitter "></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
