<section class="section-header"></section>
<div class="container">
  <nav class="navigation">
    <a href="" class="logo">Gastronomia Funcional</a>
    <ul class="navigation-list">
      <li class="navigation-list-item">
        <a href="" class="navigation-list-link active-link">Aulas Presenciais</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-link">Aulas on-line</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-link">Cursos</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-link">Cardápios</a>
      </li>
      <li class="navigation-list-item">
        <a href="" class="navigation-list-link">E-books</a>
      </li>
    </ul>
    <ul class="contacts-list">
      <li>
        <a class="contacts-list-item before-photo" href="tel:(41) 98444-3977">(41) 98444-3977</a>
      </li>
    </ul>
  </nav>
  <h1 class="main-title">
    Alimente-se com saúde e
    <span class="main-title__bold">sabor</span>
  </h1>
</div>
