<section class="section-metodo overlay">
  <div class="container__metedo">
    <div class="metodo__flax">
      <div class="metodo__text-btn">
        <div class="metodo__text">
          <h2 class="metodo__title">
            Método
            <span class="metodo__title-icons">
              <svg class="contacts_icon-arrow">
                <use href="../src/images/sprite.svg#icon-bottle-big"></use>
              </svg>
              <svg class="contacts_icon-plate">
                <use href="../src/images/sprite.svg#122"></use>
              </svg>
            </span>
          </h2>

          <p class="metodo__text-one">
            <b>Autonomia na sua cozinha!</b> Aprenda a se organizar na cozinha, preparar pratos
            incríveis, cheios de sabor e nutrientes, que vão fazer você se encantar pela cozinha
            saudável.
          </p>
          <p class="metodo__text-one">
            <b>As aulas são personalizadas,</b> de acordo com a necessidade e desejo de cada pessoa.
            A primeira etapa é uma reunião em vídeo, onde nos conhecemos,
            <b>você me conta suas dores e obstáculos na cozinha</b> e eu monto uma proposta
            individual e de acordo com tuas necessidades! (essa etapa é gratuíta)
          </p>
          <p class="metodo__text-one">
            Aprovada a proposta agend amos a aula e alguns dias antes te envio a lista de compras, e
            os pré-preparos para o dia da aula.
          </p>
          <p class="metodo__text-one">
            As <b>aulas presenciais</b> estão disponíveis na região metropolitana de Curitiba, PR e
            tem duração média de 3 horas, podendo ser na <b>sua casa</b> ou na
            <b>Cozinha Mágica</b>.
          </p>
          <p class="metodo__text-one">
            As <b>aulas online</b> são divididas em duas aulas de 2 horas cada, para o melhor
            aproveitamento das técnicas e do conhecimento adquirido.
          </p>
        </div>

        <p class="metodo__text-two">
          Vamos montar um alicerce muito sólido e bem feito, para que sua alimentação seja comida de
          verdade. De verdade mesmo!
        </p>
        <ul class="metodo_text-motivation-list">
          <svg class="metodo_icon-eattime">
            <use href="../src/images/sprite.svg#icon-eattime"></use>
          </svg>
          <li class="metodo_text-motivation">
            Organize a sua rotina alimentar. Já pensou cozinhar em 3 horas a comida da semana?
          </li>
          <svg class="metodo_icon-plate">
            <use href="../src/images/sprite.svg#icon-plate"></use>
          </svg>
          <li class="metodo_text-motivation metodo_text-motivation-two">
            Tenha independência na sua cozinha com uma alimentação saudável para você e sua família!
          </li>
        </ul>

        <!-- <button class="about__btn" type="button" data-modal-open>
          Read more
          <svg class="about__btn-icon" width="15" height="15">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button> -->
      </div>
      <div class="about__picture-text">
        <picture>
          <img class="metodo__picture" src="./images/Intersectfull.png" alt=" milk and cow" />
        </picture>
      </div>
    </div>
  </div>
</section>
