.metodo__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    color: var(--section-title-color);
    margin-bottom: 25px;
    width: 500px;
    position: relative;
    // margin-right: 40px;
    
}
.metodo__title-icons {
    position: absolute;
    right: -360px;
    top: -30px;
    
   
}
.metodo__text-btn {
    text-align: start;
}

.metodo__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    width: 612px;
    margin-bottom: 25px;
}
.metodo__text-one {
    color: var(--text-metodo);
    &:not(:last-child) {
        margin-bottom: 27px;
    }
}

.metodo__text-two {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--text-metodo);
    text-align: justify;
    width: 700px;
    margin-bottom: 30px;
}

.metodo_text-motivation {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: var(--main-text-color);
    width: 305px;
    padding-top: 5px;
    padding-bottom: 5px;
    // &:not(:first-child) {
    //     width: 311px;
    // }
}
.metodo_text-motivation-two {
    width: 311px;
}


.metodo_icon-eattime {
    fill: none;
    stroke: var(--accent-color);
    width: 48px;
    height: 48px;
    //   margin-left: 340px;
}

.metodo_icon-plate {
    fill: none;
    stroke: var(--accent-color);
    width: 48px;
    height: 48px;
    //   margin-left: 340px;
}
.metodo_text-motivation-list {
    display: flex;
}
.metodo__flax {
    display: flex;
}
.overlay {
    background-color: var(--light-text);
    background-image: url(../images/overlay.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover ;
    flex-grow: 1;
    text-align: center;
    

}
.metodo__picture {
    width: 869px;
}

.contacts_icon-arrow {
    fill: none;
    stroke: var(--accent-color);
    width: 120.5px;
    height: 120.5px;
    //   margin-left: 340px;
}

.contacts_icon-plate {
    fill: black;
    stroke: var(--accent-color);
    width: 120.5px;
    height: 120.5px;
}

// --------------------------------------------------------------------

.about__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__pre-title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: var(--pretitle-text-color);
    text-transform: uppercase;
    margin-bottom: 15px;
}





.about__btn {
    height: 44px;
    padding-left: 37px;
    padding-right: 56px;
    border: none;
    border-radius: 22px;
    background-color: var(--bg-white-color);
    color: var(--accent-color);
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    margin-top: 47px;
    margin-left: 40px;
    position: relative;
    transition: background-color 250ms linear;

    &:hover,
    &:focus {
        background-color: #ecebeb;
    }

    @media screen and (min-width: 768px) {
        margin-top: 62px;
        margin-left: 0;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 45px;
        margin-left: 0;
    }
}

// .about__btn-icon {
//     fill: none;
//     stroke: var(--accent-color);
//     position: absolute;
//     top: 50%;
//     right: 30px;
//     transform: translateY(-50%);
// }
